<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Filename_Lister.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Filename_Lister.Properties.Settings>
            <setting name="SourcePath" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Filename" serializeAs="String">
                <value>newdata.yml</value>
            </setting>
        </Filename_Lister.Properties.Settings>
    </userSettings>
</configuration>